:root {
  --main-font-family: Roboto, sans-serif;
  --main-font-size: 14px;
  --main-line-height: 1.71;
  --logo-font-family: Raleway, Roboto, sans-serif;
  --logo-font-size: 26px;
  --main-letter-spacing: 0.03em;

  --main-font-color: #757575;
  --title-font-color: #212121;
  --logo-font-color: #000000;
  --white-color: #ffffff;
  --contacts-font-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --main-dark-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --header-border-color: #ececec;
}

/* Загальні стилі */

body {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: var(--main-letter-spacing);

  color: var(--main-font-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

button {
  padding: 0;
  border: 0;
}

main img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 0;
}

.container.big-container {
  max-width: 1600px;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  color: var(--title-font-color);
}

.header .nav-link,
.header .nav-contact,
.footer .address-geo,
.footer .address-contact {
  text-decoration: none;
}

.header .nav-list,
.header .nav-contacts,
.footer .address-list,
.benefits-list,
.doing-list,
.team-list,
.works-list,
.works-filters {
  list-style: none;
}

.logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: var(--logo-font-size);
  line-height: 1.174;
  letter-spacing: var(--main-letter-spacing);
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

.unvisible {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Шапка */

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.flex-container {
  column-gap: 93px;
}

.header .logo {
  color: var(--logo-font-color);
}

/* .header .nav-item + .nav-item {
  margin-left: 50px;
} */

.header .nav-list {
  /* margin-left: 93px; */

  column-gap: 50px;
}

.header .nav-link,
.header .nav-contact {
  display: block;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header .nav-link {
  padding-top: 32px;
  padding-bottom: 31px;

  color: var(--title-font-color);
}

.header .nav-contacts {
  /* margin-left: auto; */
  column-gap: 50px;
}

.header .nav-contact {
  color: inherit;
}

.header .active-link,
.header .nav-link:hover,
.header .nav-contact:hover,
.header .nav-link:focus,
.header .nav-contact:focus {
  color: var(--accent-color);
}

/* Хіро */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--main-dark-color);
}

.hero .hero-title {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: var(--white-color);
}

.hero .hero-button {
  display: block;

  padding: 10px 32px;
  border-radius: 4px;
  margin: 30px auto 0;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  opacity: 0.75;
}

/* Переваги */

.benefits.section {
  padding-bottom: 0;
}

.benefits .container {
  text-align: center;
}

.benefits-list.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits .benefits-item {
  flex-grow: 1;
  flex: 1 0 calc((100% - 90px) / 4);
  text-align: left;
}

.benefits-list .benefits-name {
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits .benefits-description {
  margin-top: 10px;
  line-height: var(--main-line-height);
}

/* Що ми робимо */

.doing-title,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: var(--main-letter-spacing);
  text-align: center;
}

.doing .container {
  text-align: center;
}

.doing .doing-list {
  margin-top: 50px;
}

.doing-list.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;
}

.doing-item {
  flex: 0 0 370px;
}

/* Команда */

.team {
  background-color: var(--secondary-bg-color);
}

.team .container {
  text-align: center;
}

.team .team-list {
  margin-top: 50px;
}

.team-list.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-card {
  flex: 1 0 270px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0 0 4px 4px;
}

.team-member {
  padding: 30px 25px;
}

.team-list .team-name,
.team-list .team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: var(--main-letter-spacing);
  text-align: center;
}

.team-list .team-name {
  font-weight: 500;
}

.team-list .team-position {
  margin-top: 10px;
}

/* Роботи */

.works .container {
  text-align: center;
}

.works .works-filters {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.works .works-filter {
  flex-grow: 1;
}

.works-button {
  width: 100%;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: var(--main-letter-spacing);
  text-align: center;

  color: var(--title-font-color);
  background-color: var(--secondary-bg-color);
  border-color: transparent;

  cursor: pointer;
}

.works-button:hover,
.works-button:focus {
  padding: 6px 25px;

  color: var(--white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.works .works-list {
  margin-top: 50px;

  text-align: left;

  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works .works-item {
  flex-grow: 1;
}

.works .works-description {
  padding: 20px 23px 19px;

  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.works-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-type {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: var(--main-letter-spacing);
}

/* Підвал */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--main-dark-color);
}

.footer .logo {
  display: inline-block;

  color: var(--white-color);
}

.address {
  margin-top: 20px;
}

.address-list {
  font-style: normal;
}

.address-item:not(:first-child) {
  margin-top: 6px;
}

.address-geo,
.address-contact {
  display: inline-block;

  line-height: var(--main-line-height);

  color: var(--contacts-font-color);
}

.address-geo,
.address-geo:hover,
.address-contact:hover,
.address-geo:focus,
.address-contact:focus {
  color: var(--white-color);
}
